nav {
  margin-top: 1em;
}
nav a {
  color: white;
  margin: 0 10px;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
nav a:hover {
  border-bottom: 2px solid white;
}
